# Python
__pycache__/
*.pyc
*.pyo
*.pyd

#Big Snake
anaconda_projects/

# Jupyter
.ipynb_checkpoints/
.virtual_documents/

# Environments
venv/
.env/
conda-env/
*.env

# Model checkpoints
checkpoints/
*.pth
*.pt
*.ckpt
*.bin

# Outputs
outputs/

# Build artifacts
build/
dist/
*.egg-info/

# VSCode
.vscode/

# OS junk
.DS_Store
Thumbs.db

# Logs
*.log

# Temporary files
tmp/
temp/